<nav class="navbar navbar-expand-md navbar-dark bg-dark">


<!-- Links -->
<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
				<button class="btn btn-secondary" type="button" style="margin-right:20px;"><a href="/fisicas" style="color: white;">Fisicas</a></button>
		</li>

		<li class="nav-item">
				<button class="btn btn-light" type="button"><a href="/juridicas" style="color: black;">Juridicas</a></button>
		</li>
			</ul>
</div>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
		<li class="nav-item">
			<form action="/logout?_method=DELETE" method="POST">
				<button class="btn btn-danger" type="submit" style="margin-left:">Cerrar Sesión</button>
			</form>
		</li>
        </ul>
    </div>

</nav>
