{{>header}}
<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
	<div class="container-fluid">
		<!-- contact form -->
		<div class="d-flex justify-content-center h-100">
			{{!-- PARTE IZQUIERDA --}}
			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<form action="/fisicas" class="shake" role="form" method="POST" id="contactForm" name="contact-form"
					data-toggle="validator">
					<!-- PROMOTOR RAILCOM -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">PROMOTOR RAILCOM</label>
						<select id="promotor" name="promotor" class="form-control" required>
							<option selected>Seleccione un promotor</option>
							<option>MARIANO SANCHEZ</option>
							<option>LIENDRO CARLOS ARIEL</option>
							<option>DE ROSA</option>
							<option>LEAL JUAN CRUZ</option>
							<option>GUADALUPE PIPPO</option>
							<option>JACOBO CHAPARRO</option>
							<option>LUIS BARCELO</option>
							<option>GUTIERREZ D GREGORIO OSCAR EDUARDO</option>
							<option>EDWIN RAMIREZ</option>
							<option>GONZALEZ MAURY JOAN MANUEL</option>
							<option>PREITI JORGE ALBERTO</option>
							<option>VIVIANA ELIZABETH CARRIZO</option>
							<option>VACCARO JORGE DANIEL</option>
							<option>LAIME CAROLINA</option>
							<option>PASTRAN EDUARDO</option>
							<option>RODRIGUEZ MARTINEZ YESSICA MABEL</option>
							<option>AGUIRRE MARIA MARTA</option>
							<option>BARRERA FLAVIA</option>
							<option>AUAD MARIA VIRGINIA</option>
							<option>IBAÑEZ GUILLERMO</option>
							<option>ESTIGARRIBIO EZEQUIEL</option>
							<option>NAVARRO FRANCISCO</option>
							<option>ARCE MARCELO</option>
							<option>GONZALEZ CARLA TAMARA</option>
							<option>MOLINA SERGIO DANIEL</option>
							<option>FERNANDEZ MARCELO</option>
							<option>DE LORENZO CHRISTIAN</option>
							<option>DOS SANTOS EZEQUIEL MAXIMILIANO</option>
							<option>RAMOS LEANDRO</option>
							<option>HUSSEIN FREDO SANTIAGO</option>
							{{!-- <option>IRAZU FLEITAS MARCELO</option> --}}
							<option>LUCIANO IVAÑEZ</option>
							<option>EMANUEL RODRIGUEZ</option>
							<option>IVAN ALEJANDRO SALCEDO</option>
							<option>LUCIANO IVAÑEZ</option>
							<option>MATIAS PIPPO</option>
							<option>EMANUEL RODRIGUEZ</option>
							<option>CLAUDIA REBELLO</option>
							<option>NAARA MELANIE LIBERCZUK</option>
							<option>RAFAELA GONZALEZ</option>
							<option>MUÑOZ JULIAN</option>
							<option>YEDRO FERNANDO MARTIN</option>
							{{!-- <option>RIOSECO FEDERICO PEDRO</option> --}}
							<option>ROMERO GERMAN JORGE</option>
							{{!-- <option>PORTELA MATIAS ALEJANDRO</option> --}}
							<option>MARIA VICTORIA ARRABACA</option>
							<option>SERGIO RODRIGUEZ</option>
							<option>CLAUDIO VILLALBA</option>
							<option>CAMILA GIOFFRE</option>
							<option>GAGGERO JUAN MANUEL</option>
							<option>GUSTAVO CHAVEZ</option>
							<option>ELIZABETH FLEITAS</option>
							<option>LAURA GUEVARA</option>
							{{!-- <option>FRANCO MANSILLA</option> --}}
							<option>GONZALO EZEQUIEL MÜLLER</option>
							<option>SPINA NICOLAS</option>
							<option>SANCHEZ CARLOS ALBERTO</option>
							<option>PASSARINI FRANCO</option>
							<option>ALZOGARAY IBER ALBERTO</option>
							<option>MORALE ROCIO</option>
							<option>CRISTIAN ALZOGARAY</option>
							<option>GOLDBERG MARIA FLORENCIA</option>
							<option>PANZA ORTIZ RICARDO MATIAS</option>
							<option>SILVA VALERIA SABRINA</option>
							{{!-- <option>BATTINI NESTOR JAVIER</option> --}}
							<option>PIPPO CATRIEL ALEJANDRO</option>
							<option>MEDINA CARLA SOFIA</option>
							<option>GOMEZ GUILLERMO</option>
							<option>CANEPA SANTIAGO ANIBAL</option>
							<option>FERRER BARBARA</option>
							<option>TRIGO FERNANDA BELEN</option>
							<option>GARCIA ROBERTO JOSE</option>
							{{!-- <option>GARCIA AGUILAR JUAN PABLO</option> --}}
							<option>VENTEO EDGARDO EMANUEL</option>
							<option>EMILIO FERNANDEZ</option>
							<option>CARRIZO LAURA</option>
							<option>GALLARDO PABLO</option>
							{{!-- <option>PAZ DAVID</option> --}}
							{{!-- <option>GABRIEL CABRERA</option> --}}
							<option>RUTH PAMELA RADETZKI</option>
							<option>CARLOS ADAN RUEDA</option>
							<option>TRONCOSO MARIA BELEN</option>
							{{!-- <option>ARGENTO ROMINA</option> --}}
							<option>LENNYS CARRUYO</option>
							{{!-- <option>OLIVA BARBARA</option> --}}
							{{!-- <option>BUCHTA FRANCO EMMANUEL</option> --}}
							<option>ANTONIO FEDERICO DANIEL</option>
							<option>BUTTI MARIA LAURA</option>
							{{!-- <option>MOYANO PABLO SEBASTIAN</option> --}}
							<option>GUILLERMO CICHERO</option>
							{{!-- <option>RODRIGUEZ MARTINEZ YESSICA MABEL</option> --}}
							{{!-- <option>VALDEZ MAIDANA IRMA FAVIOLA</option> --}}
							<option>VILLEGAS MARINA NATALIA</option>
							{{!-- <option>MARTINEZ MAURO FERNANDO</option> --}}
							{{!-- <option>VAQUER FERNANDEZ GISEL GABRIELA</option> --}}
							<option>PIANTINI FRANCO DANIEL</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>


					<!-- MAIL PROMOTOR -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">EMAIL PROMOTOR</label>
						<input class="form-control" id="mpromotor" type="text" name="mpromotor" required
							data-error="Please enter your name">
						<div class="help-block with-errors"></div>
					</div>
					<!-- RAZON SOCIAL -->
					<div class="form-group label-floating">
						<label class="control-label">RAZON SOCIAL</label>
						<input class="form-control" id="msg_subject" type="text" name="razon" required
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- CUIT -->
					<div class="form-group label-floating">
						<label class="control-label">CUIT</label>
						<input class="form-control" id="cuit" type="number" name="cuit" required
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Dirección</label>
						<input class="form-control" id="direccion" type="text" name="direccion"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Localidad</label>
						<input class="form-control" id="localidad" type="text" name="localidad"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Telefono</label>
						<input class="form-control" id="telefono" type="text" name="telefono"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">EMAIL CLIENTE</label>
						<input class="form-control" id="mcliente" type="email" name="mcliente"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- N° DE SUCURSAL -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">N° DE SUCURSAL</label>
						<input class="form-control" id="n_sucursal" type="number" name="n_sucursal" required
							data-error="Please enter your name">
						<div class="help-block with-errors"></div>
					</div>
					<!-- PRODUCTO OFRECIDO -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">PRODUCTO OFRECIDO</label>
						<select id="productos" name="productos" class="form-control" required>
							<option selected> Seleccione un producto</option>
							<option>Cuenta Instituciones</option>
							<option>Cuenta Consorcio</option>
							<option>Cuenta PYME</option>
							<option>Paquete PYME</option>
							<option>Supercuenta Negocio</option>
							<option>PackNegocio</option>
							<option>PackNegocio Gold</option>
							<option>PackNegocio Platinum</option>
							<option>PackNegocio Black</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>


					<!-- Form Submit -->
					{{#if mensajeFisicas}}

					<div class="alert alert-success" role="alert">
						{{mensajeFisicas}}
					</div>
					{{/if}}
					<div class="form-submit mt-5">
						<button class="btn btn-primary btn-lg btn-block" type="submit" id="form-submit"><i
								class="material-icons mdi mdi-message-outline"></i>Enviar</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
			<div style="position: absolute;" aria-live="polite" aria-atomic="true"
				class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

				<!-- Then put toasts within -->
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="">
					<div class="toast-header">
						<i class="fas fa-envelope-open-text mr-1"></i>
						<strong class="mr-auto">Explicación</strong>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="toast-body">
						<p class="text-left">Cargá tus leads para que Administración los ingrese el en sistema
							Santander.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$('.toast').toast('show');
</script>
