{{>header}}
<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
	<div class="container-fluid">
		<!-- contact form -->
		<div class="d-flex justify-content-center h-100">
			{{!-- PARTE IZQUIERDA --}}
			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<form action="/fisicas" class="shake" role="form" method="POST" id="contactForm" name="contact-form"
					data-toggle="validator">
					<!-- PROMOTOR RAILCOM -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">PROMOTOR RAILCOM</label>
						<select id="promotor" name="promotor" class="form-control" required>
							<option value='100000' selected>Seleccione un promotor</option>
							<option value='4'>CLAUDIA REBELLO</option>
							<option value='9'>NAARA MELANIE LIBERCZUK</option>
							<option value='26'>RAFAELA GONZALEZ</option>
							<option value='47'>MUÑOZ JULIAN</option>
							<option value='27'>YEDRO FERNANDO MARTIN</option>
							<option value='28'>RIOSECO FEDERICO PEDRO</option>
							<option value='48'>PORTELA MATIAS ALEJANDRO</option>
							<option value='49'>ROMERO GERMAN JORGE</option>
							<option value='3'>MARIA VICTORIA ARRABACA</option>
							<option value='5'>SERGIO RODRIGUEZ</option>
							<option value='7'>CLAUDIO VILLALBA</option>
							<option value='8'>CAMILA GIOFFRE</option>
							<option value='10'>GAGGERO JUAN MANUEL</option>
							<option value='11'>GUSTAVO CHAVEZ</option>
							<option value='12'>ELIZABETH FLEITAS</option>
							<option value='13'>LAURA GUEVARA</option>
							<option value='14'>FRANCO MANSILLA</option>
							<option value='15'>GONZALO EZEQUIEL MÜLLER</option>
							<option value='2'>SPINA NICOLAS</option>
							<option value='17'>SANCHEZ CARLOS ALBERTO</option>
							<option value='16'>PASSARINI FRANCO</option>
							<option value='18'>ALZOGARAY IBER ALBERTO</option>
							<option value='29'>MORALE ROCIO</option>
							<option value='31'>CRISTIAN ALZOGARAY</option>
							<option value='30'>GOLDBERG MARIA FLORENCIA</option>
							<option value='32'>PANZA ORTIZ RICARDO MATIAS</option>
							<option value='33'>SILVA VALERIA SABRINA</option>
							<option value='34'>BATTINI NESTOR JAVIER</option>
							<option value='35'>PIPPO CATRIEL ALEJANDRO</option>
							<option value='36'>MEDINA CARLA SOFIA</option>
							<option value='41'>GOMEZ GUILLERMO</option>
							<option value='42'>CANEPA SANTIAGO ANIBAL</option>
							<option value='50'>FERRER BARBARA</option>
							<option value='51'>TRIGO FERNANDA BELEN</option>
							<option value='52'>GARCIA ROBERTO JOSE</option>
							<option value='53'>GARCIA AGUILAR JUAN PABLO</option>
							<option value='19'>VENTEO EDGARDO EMANUEL</option>
							<option value='1'>EMILIO FERNANDEZ</option>
							<option value='20'>CARRIZO LAURA</option>
							<option value='21'>GALLARDO PABLO</option>
							<option value='22'>PAZ DAVID</option>
							<option value='23'>GABRIEL CABRERA</option>
							<option value='24'>RUTH PAMELA RADETZKI</option>
							<option value='25'>CARLOS ADAN RUEDA</option>
							<option value='37'>TRONCOSO MARIA BELEN</option>
							<option value='38'>ARGENTO ROMINA</option>
							<option value='39'>LENNYS CARRUYO</option>
							<option value='40'>OLIVA BARBARA</option>
							<option value='43'>BUCHTA FRANCO EMMANUEL</option>
							<option value='44'>ANTONIO FEDERICO DANIEL</option>
							<option value='45'>BUTTI MARIA LAURA</option>
							<option value='46'>MOYANO PABLO SEBASTIAN</option>
							<option value='6'>GUILLERMO CICHERO</option>
							<option value='54'>RODRIGUEZ MARTINEZ YESSICA MABEL</option>
							<option value='55'>VALDEZ MAIDANA IRMA FAVIOLA</option>
							<option value='56'>VILLEGAS MARINA NATALIA</option>
							<option value='57'>MARTINEZ MAURO FERNANDO</option>
							<option value='58'>VAQUER FERNANDEZ GISEL GABRIELA</option>
							<option value='59'>PIANTINI FRANCO DANIEL</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>


					<!-- MAIL PROMOTOR -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">EMAIL PROMOTOR</label>
						<input class="form-control" id="mpromotor" type="text" name="mpromotor" required
							data-error="Please enter your name">
						<div class="help-block with-errors"></div>
					</div>
					<!-- RAZON SOCIAL -->
					<div class="form-group label-floating">
						<label class="control-label">RAZON SOCIAL</label>
						<input class="form-control" id="msg_subject" type="text" name="razon" required
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- CUIT -->
					<div class="form-group label-floating">
						<label class="control-label">CUIT</label>
						<input class="form-control" id="cuit" type="number" name="cuit" required
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Dirección</label>
						<input class="form-control" id="direccion" type="text" name="direccion"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Localidad</label>
						<input class="form-control" id="localidad" type="text" name="localidad"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Telefono</label>
						<input class="form-control" id="telefono" type="text" name="telefono"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- N° DE SUCURSAL -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">N° DE SUCURSAL</label>
						<input class="form-control" id="n_sucursal" type="number" name="n_sucursal" required
							data-error="Please enter your name">
						<div class="help-block with-errors"></div>
					</div>
					<!-- PRODUCTO OFRECIDO -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">PRODUCTO OFRECIDO</label>
						<select id="productos" name="productos" class="form-control" required>
							<option value='100000' selected> Seleccione un producto</option>
							<option value='1'>Cuenta Instituciones</option>
							<option value='2'>Cuenta Consorcio</option>
							<option value='3'>Cuenta PYME</option>
							<option value='4'>Paquete PYME</option>
							<option value='5'>Supercuenta Negocio</option>
							<option value='6'>PackNegocio</option>
							<option value='7'>PackNegocio Gold</option>
							<option value='8'>PackNegocio Platinum</option>
							<option value='9'>PackNegocio Black</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>


					<!-- Form Submit -->
					{{#if mensajeFisicas}}

					<div class="alert alert-success" role="alert">
						{{mensajeFisicas}}
					</div>
					{{/if}}
					<div class="form-submit mt-5">
						<button class="btn btn-primary btn-lg btn-block" type="submit" id="form-submit"><i
								class="material-icons mdi mdi-message-outline"></i>Enviar</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
											<div style="position: absolute;" aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

  <!-- Then put toasts within -->
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="">
    <div class="toast-header">
			<i class="fas fa-envelope-open-text mr-1"></i>
			<strong class="mr-auto">Explicación</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
		<div class="toast-body">
			<p class="text-left">Cargá tus leads para que Administración los ingrese el en sistema Santander.</p>
		</div>
  </div>
</div>
		</div>
	</div>
</section>
<script>
	$('.toast').toast('show');
</script>