{{>header}}
<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
	<div class="container-fluid">
		<!-- contact form -->
		<div class="d-flex justify-content-center h-100">
			{{!-- PARTE IZQUIERDA --}}
			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<form action="/juridicas" class="shake" role="form" method="POST" id="contactForm" name="contact-form"
					data-toggle="validator" enctype="multipart/form-data">
					<fieldset>
						<!-- PROMOTOR RAILCOM -->
						<div class="form-group label-floating">
							<label class="control-label" for="name">PROMOTOR RAILCOM</label>
							<select id="promotor" name="promotor" class="form-control" required>
							<option selected>Seleccione un promotor</option>
							<option>CLAUDIA REBELLO</option>
							<option>NAARA MELANIE LIBERCZUK</option>
							<option>RAFAELA GONZALEZ</option>
							<option>MUÑOZ JULIAN</option>
							<option>YEDRO FERNANDO MARTIN</option>
							<option>RIOSECO FEDERICO PEDRO</option>
							<option >ROMERO GERMAN JORGE</option>
							<option >PORTELA MATIAS ALEJANDRO</option>
							<option>MARIA VICTORIA ARRABACA</option>
							<option>SERGIO RODRIGUEZ</option>
							<option>CLAUDIO VILLALBA</option>
							<option>CAMILA GIOFFRE</option>
							<option >GAGGERO JUAN MANUEL</option>
							<option >GUSTAVO CHAVEZ</option>
							<option >ELIZABETH FLEITAS</option>
							<option >LAURA GUEVARA</option>
							<option >FRANCO MANSILLA</option>
							<option >GONZALO EZEQUIEL MÜLLER</option>
							<option>SPINA NICOLAS</option>
							<option >SANCHEZ CARLOS ALBERTO</option>
							<option >PASSARINI FRANCO</option>
							<option >ALZOGARAY IBER ALBERTO</option>
							<option >MORALE ROCIO</option>
							<option >CRISTIAN ALZOGARAY</option>
							<option >GOLDBERG MARIA FLORENCIA</option>
							<option >PANZA ORTIZ RICARDO MATIAS</option>
							<option >SILVA VALERIA SABRINA</option>
							<option >BATTINI NESTOR JAVIER</option>
							<option >PIPPO CATRIEL ALEJANDRO</option>
							<option >MEDINA CARLA SOFIA</option>
							<option >GOMEZ GUILLERMO</option>
							<option >CANEPA SANTIAGO ANIBAL</option>
							<option >FERRER BARBARA</option>
							<option >TRIGO FERNANDA BELEN</option>
							<option >GARCIA ROBERTO JOSE</option>
							<option >GARCIA AGUILAR JUAN PABLO</option>
							<option >VENTEO EDGARDO EMANUEL</option>
							<option >EMILIO FERNANDEZ</option>
							<option >CARRIZO LAURA</option>
							<option >GALLARDO PABLO</option>
							<option >PAZ DAVID</option>
							<option >GABRIEL CABRERA</option>
							<option >RUTH PAMELA RADETZKI</option>
							<option >CARLOS ADAN RUEDA</option>
							<option >TRONCOSO MARIA BELEN</option>
							<option >ARGENTO ROMINA</option>
							<option >LENNYS CARRUYO</option>
							<option >OLIVA BARBARA</option>
							<option >BUCHTA FRANCO EMMANUEL</option>
							<option >ANTONIO FEDERICO DANIEL</option>
							<option >BUTTI MARIA LAURA</option>
							<option >MOYANO PABLO SEBASTIAN</option>
							<option >GUILLERMO CICHERO</option>
							<option >RODRIGUEZ MARTINEZ YESSICA MABEL</option>
							<option >VALDEZ MAIDANA IRMA FAVIOLA</option>
							<option >VILLEGAS MARINA NATALIA</option>
							<option >MARTINEZ MAURO FERNANDO</option>
							<option >VAQUER FERNANDEZ GISEL GABRIELA</option>
							<option >PIANTINI FRANCO DANIEL</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>
						<!-- MAIL PROMOTOR -->
						<div class="form-group label-floating">
							<label class="control-label" for="name">EMAIL PROMOTOR</label>
							<input class="form-control" id="mpromotor" type="text" name="mpromotor" required
								data-error="Please enter your name">
							<div class="help-block with-errors"></div>
						</div>
						<!-- RAZON SOCIAL -->
						<div class="form-group label-floating">
							<label class="control-label">RAZON SOCIAL</label>
							<input class="form-control" id="msg_subject" type="text" name="razon" required
								data-error="Please enter your message subject">
							<div class="help-block with-errors"></div>
						</div>
						<!-- CUIT -->
						<div class="form-group label-floating">
							<label class="control-label">CUIT</label>
							<input class="form-control" id="cuit" type="number" name="cuit" required
								data-error="Please enter your message subject">
							<div class="help-block with-errors"></div>
						</div>
						<!-- N° DE SUCURSAL -->
						<div class="form-group label-floating">
							<label class="control-label" for="name">N° DE SUCURSAL</label>
							<input class="form-control" id="n_sucursal" type="number" name="n_sucursal" required
								data-error="Please enter your name">
							<div class="help-block with-errors"></div>
						</div>
						<!-- CONDICIÓN ANTE IVA E IIGG (RI, MT, EX) -->
						<div class="form-group label-floating">
							<label class="control-label" for="name">CONDICIÓN ANTE IVA E IIGG (RI, MT, EX)</label>
							<select id="cond_iva" name="cond_iva" class="form-control" required>
								<option value="RI">RI</option>
								<option value="MT">MT</option>
								<option value="EX">EX</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>
						<!-- CONDICIÓN ANTE IIBB (LOCAL, CM, EX, RS) -->
						<div class="form-group label-floating">
							<label class="control-label" for="name">CONDICIÓN ANTE IIBB (LOCAL, CM, EX, RS)</label>
							<select id="cond_iibb" name="cond_iibb" class="form-control" required>
								<option value="LOCAL">LOCAL</option>
								<option value="CM">CM</option>
								<option value="EX">EX</option>
								<option value="RS">RS</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>

						<!-- Email -->
						<div class="form-group label-floating">
							<label class="control-label" for="email">EMAIL</label>
							<input class="form-control" id="email" type="text" name="email" required
								data-error="Please enter your Email">
							<div class="help-block with-errors"></div>
						</div>

			</div>

			{{!-- PARTE DERECHA --}}
			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<!-- FACT BRUTA ANUAL (SI POSEE MENOS DE 1 AÑO: $1.000.000) -->
				<!-- TELÉFONO -->
				<div class="form-group label-floating">
					<label class="control-label" for="name">TELÉFONO</label>
					<input class="form-control" id="telefono" type="number" name="telefono" required
						data-error="Please enter your name">
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group label-floating">
					<label class="control-label" for="name">FACTURACION BRUTA ANUAL (SI POSEE
						MENOS DE 1 AÑO:
						$1.000.000)</label>
					<input class="form-control" id="fac_anual" type="number" name="fac_anual" required
						data-error="Please enter your name">
					<div class="help-block with-errors"></div>
				</div>
				<!-- ULTIMA FECHA DE CIERRE DE EJERCICIO -->
				<div class="form-group label-floating">
					<label class="control-label">ULTIMA FECHA DE CIERRE DE EJERCICIO</label>
					<input class="form-control" id="ult_cierre" type="text" name="ult_cierre" required
						data-error="Please enter your message subject">
					<div class="help-block with-errors"></div>
				</div>
				<!-- DNI DE SOCIO - REPRESENTANTE LEGAL - FIRMANTE -->
				<div class="form-group label-floating">
					<label class="control-label">DNI DE SOCIO - REPRESENTANTE LEGAL -
						FIRMANTE</label>
					<input class="form-control" id="DNI" type="number" name="DNI" required
						data-error="Please enter your message subject">
					<div class="help-block with-errors"></div>
				</div>

				<!-- NOMBRE DE SOCIO - REPRESENTANTE LEGAL - FIRMANTE -->
				<div class="form-group label-floating">
					<label class="control-label" for="name">NOMBRE DE SOCIO - REPRESENTANTE
						LEGAL - FIRMANTE</label>
					<input class="form-control" id="nombre" type="text" name="nombre" required
						data-error="Please enter your name">
					<div class="help-block with-errors"></div>
				</div>
				<!-- APELLIDO DE SOCIO - REPRESENTANTE LEGAL - FIRMANTE -->
				<div class="form-group label-floating">
					<label class="control-label" for="name">APELLIDO DE SOCIO - REPRESENTANTE
						LEGAL -
						FIRMANTE</label>
					<input class="form-control" id="apellido" type="text" name="apellido" required
						data-error="Please enter your name">
					<div class="help-block with-errors"></div>
				</div>
				<!-- % DE PARTICIPACIÓN SOCIETARIA. -->
				<div class="form-group label-floating">
					<label class="control-label">% DE PARTICIPACIÓN SOCIETARIA</label>
					<input class="form-control" id="porc_part" type="number" name="porc_part" required
						data-error="Please enter your message subject">
					<div class="help-block with-errors"></div>
				</div>
			</div>
			{{!-- <div style="position: absolute;" aria-live="polite" aria-atomic="true"
	class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

	<!-- Then put toasts within -->
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="">
		<div class="toast-header">
			<i class="fas fa-envelope-open-text mr-1"></i>
			<strong class="mr-auto">Explicación</strong>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">
			<p class="text-left">Cargá tus datos para generar tu propia base.</p>
			<hr />
			<p class="text-left">Tené en cuenta que el dato no se enviará a Administración.</p>

		</div>
	</div>
</div> --}}
			{{!-- PARTE DERECHA --}}
{{!-- 			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="micheckbox">
				<label class="form-check-label" for="defaultCheck1">
					Default checkbox
				</label>
			</div> --}}

			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<!-- FACT BRUTA ANUAL (SI POSEE MENOS DE 1 AÑO: $1.000.000) -->
				<div class="form-group label-floating">
					<label for="exampleFormControlFile1" id="labelConstancia">CONSTANCIA DE CUIT</label>
					<input type="file" accept="application/pdf" id="constancia" name="constancia" class="form-control-file"
						id="exampleFormControlFile1" required>
					<div class="help-block with-errors"></div>
{{!-- 				</div>
														<script>
				$("#micheckbox").change(function () {
					if ($(this).is(':checked')) {
						// Hacer algo si el checkbox ha sido seleccionado
						$("#micheckbox").click(function () {
							$("#constancia").hide();
							$("#labelConstancia").hide();
						});
					} else {
						// Hacer algo si el checkbox ha sido deseleccionado
						$("#micheckbox").click(function () {
							$("#constancia").show();
							$("#labelConstancia").show();
						});
					}
				}); 
			</script> --}}

				<!-- ULTIMA FECHA DE CIERRE DE EJERCICIO -->
				<div class="form-group label-floating">
					<label for="exampleFormControlFile1">CONTRATOS Y PODERES</label>
					<input type="file" accept="application/pdf" name="estatuto" class="form-control-file"
						id="exampleFormControlFile1" required>
					<div class="help-block with-errors"></div>
				</div>
				<!-- DNI DE SOCIO - REPRESENTANTE LEGAL - FIRMANTE -->
				<div class="form-group label-floating">
					<label for="exampleFormControlFile1">ULTIMO BALANCE</label>
					<input type="file" accept="application/pdf" name="ultimobalance" class="form-control-file"
						id="exampleFormControlFile1" required>
					<div class="help-block with-errors"></div>
				</div>

				<!-- NOMBRE DE SOCIO - REPRESENTANTE LEGAL - FIRMANTE -->
				<div class="form-group label-floating">
					<label for="exampleFormControlFile1">DNI FIRMANTE FRENTE</label>
					<input type="file" accept=".jpg" name="dnifrente" class="form-control-file"
						id="exampleFormControlFile1" required>
					<div class="help-block with-errors"></div>
				</div>
				<!-- APELLIDO DE SOCIO - REPRESENTANTE LEGAL - FIRMANTE -->
				<div class="form-group label-floating">
					<label for="exampleFormControlFile1">DNI FIRMANTE DORSO</label>
					<input type="file" accept=".jpg" name="dnidorso" class="form-control-file"
						id="exampleFormControlFile1" required>
					<div class="help-block with-errors"></div>
				</div>

				<!-- Form Submit -->
				{{#if mensajeJuridicas}}

				<div class="alert alert-success" role="alert">
					{{mensajeJuridicas}}
				</div>
				{{/if}}
				<div class="form-submit mt-5">
					<button class="btn btn-primary btn-lg btn-block" type="submit" id="form-submit"><i
							class="material-icons mdi mdi-message-outline"></i>Enviar</button>
					<div id="msgSubmit" class="h3 text-center hidden"></div>
					<div class="clearfix"></div>
					</fieldset>
					</form>
				</div>

			</div>
		</div>
</section>


{{!-- <script>
	$('.toast').toast('show');
</script> --}}