{{>header}}
<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
	<div class="container-fluid">
		<!-- contact form -->
		<div class="d-flex justify-content-center h-100">
			{{!-- PARTE IZQUIERDA --}}
			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<form action="/soloDatos" class="shake" role="form" method="POST" id="contactForm" name="contact-form"
					data-toggle="validator">
					<!-- PROMOTOR RAILCOM -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">PROMOTOR RAILCOM</label>
						<select id="promotor" name="promotor" class="form-control" required>
							<option selected>Seleccione un promotor</option>
							<option>SOFIA LOPEZ</option>
							<option>ROGER AGUILERA</option>
							<option>MARIANO SANCHEZ</option>
							<option>LIENDRO CARLOS ARIEL</option>
							<option>DE ROSA</option>
							<option>GUADALUPE PIPPO</option>
							<option>LUIS BARCELO</option>
							<option>RODRIGUEZ MARTINEZ YESSICA MABEL</option>
							<option>AGUIRRE MARIA MARTA</option>
							<option>IBAÑEZ GUILLERMO</option>
							<option>FERNANDEZ MARCELO</option>
							<option>DE LORENZO CHRISTIAN</option>
							<option>LUCIANO IVAÑEZ</option>
							<option>MATIAS PIPPO</option>
							<option>EMANUEL RODRIGUEZ</option>
							<option>CLAUDIA REBELLO</option>
							<option>NAARA MELANIE LIBERCZUK</option>
							<option>RAFAELA GONZALEZ</option>
							<option>MUÑOZ JULIAN</option>
							<option>YEDRO FERNANDO MARTIN</option>
							<option>ROMERO GERMAN JORGE</option>
							<option>MARIA VICTORIA ARRABACA</option>
							<option>SERGIO RODRIGUEZ</option>
							<option>CLAUDIO VILLALBA</option>
							<option>GUSTAVO CHAVEZ</option>
							<option>ELIZABETH FLEITAS</option>
							<option>LAURA GUEVARA</option>
							<option>GONZALO EZEQUIEL MÜLLER</option>
							<option>SPINA NICOLAS</option>
							<option>SANCHEZ CARLOS ALBERTO</option>
							<option>MORALE ROCIO</option>
							<option>CRISTIAN ALZOGARAY</option>
							<option>PANZA ORTIZ RICARDO MATIAS</option>
							<option>PIPPO CATRIEL ALEJANDRO</option>
							<option>MEDINA CARLA SOFIA</option>
							<option>GOMEZ GUILLERMO</option>
							<option>FERRER BARBARA</option>
							<option>TRIGO FERNANDA BELEN</option>
							<option>EMILIO FERNANDEZ</option>
							<option>RUTH PAMELA RADETZKI</option>
							<option>CARLOS ADAN RUEDA</option>
							<option>GUILLERMO CICHERO</option>
							<option>VILLEGAS MARINA NATALIA</option>
						</select>
						<div class="help-block with-errors"></div>
					</div>


					<!-- MAIL PROMOTOR -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">EMAIL PROMOTOR</label>
						<input class="form-control" id="mpromotor" type="text" name="mpromotor" required
							data-error="Please enter your name">
						<div class="help-block with-errors"></div>
					</div>
					<!-- RAZON SOCIAL -->
					<div class="form-group label-floating">
						<label class="control-label">RAZON SOCIAL</label>
						<input class="form-control" id="msg_subject" type="text" name="razon" required
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- CUIT -->
					<div class="form-group label-floating">
						<label class="control-label">CUIT</label>
						<input class="form-control" id="cuit" type="number" name="cuit" required
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>


					<!-- Form Submit -->
					{{#if mensajeAnalisis}}

					<div class="alert alert-success" role="alert">
						{{mensajeAnalisis}}
					</div>
					{{/if}}
					<div class="form-submit mt-5">
						<button class="btn btn-primary btn-lg btn-block" type="submit" id="form-submit"><i
								class="material-icons mdi mdi-message-outline"></i>Enviar para Análisis Crediticio</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
			<div style="position: absolute;" aria-live="polite" aria-atomic="true"
				class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

				<!-- Then put toasts within -->
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="">
					<div class="toast-header">
						<i class="fas fa-envelope-open-text mr-1"></i>
						<strong class="mr-auto">Explicación</strong>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="toast-body">
						<p class="text-left">Mediante el botón: "Análisis Crediticio", el representante comercial podrá ingresar los datos del cliente para el cual se requiera consultar en Casa Matriz de Santander la situación crediticia del mismo, con el fin de tener en claro la oferta de productos a realizar</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$('.toast').toast('show');
</script>
