{{>header}}
<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
	<div class="container-fluid">
		<!-- contact form -->
		<div class="d-flex justify-content-center h-100">
			{{!-- PARTE IZQUIERDA --}}
			<div class="col-md-4 wow animated fadeInLeft" data-wow-delay=".2s">
				<form action="/soloDatos" class="shake" role="form" method="POST" id="contactForm" name="contact-form"
					data-toggle="validator">
					<!-- PROMOTOR RAILCOM -->
					<div class="form-group label-floating">
						<label class="control-label" for="name">PROMOTOR RAILCOM</label>
						<select id="promotor" name="promotor" class="form-control"></select>
						<div class="help-block with-errors"></div>
					</div>
					<!-- RAZON SOCIAL -->
					<div class="form-group label-floating">
						<label class="control-label">RAZON SOCIAL</label>
						<input class="form-control" id="msg_subject" type="text" name="razon"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<!-- CUIT -->
					<div class="form-group label-floating">
						<label class="control-label">CUIT</label>
						<input class="form-control" id="cuit" type="number" name="cuit"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Dirección</label>
						<input class="form-control" id="direccion" type="text" name="direccion"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Localidad</label>
						<input class="form-control" id="localidad" type="text" name="localidad"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Telefono</label>
						<input class="form-control" id="telefono" type="text" name="telefono"
							data-error="Please enter your message subject">
						<div class="help-block with-errors"></div>
					</div>

					<!-- Form Submit -->
					{{#if mensaje}}

					<div class="alert alert-success" role="alert">
						{{mensaje}}
					</div>
					{{/if}}
					<div class="form-submit mt-5">
						<button class="btn btn-primary btn-lg btn-block" type="submit" id="form-submit"><i
								class="material-icons mdi mdi-message-outline"></i>Enviar</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script>
	$(document).ready(function () {
		let spl_data;

		// Loading Promotor
		$.get('promotor.xml', function (data) {
			spl_data = data;
			let that = $('#promotor');
			$('Emp', spl_data).each(function () {
				$('<option />', {
					name: $(this).text(),
					text: $(this).text(),
					value: $(this).text()
				}).appendTo(that);
			});
		}, 'xml');
	}); 
</script>
<script>
	$(document).ready(function () {
		let spl_data2;

		// Loading Promotor
		$.get('productos.xml', function (data2) {
			spl_data2 = data2;
			let that2 = $('#productos');
			$('Prod', spl_data2).each(function () {
				$('<option />', {
					name: $(this).text(),
					text: $(this).text(),
					value: $(this).text()
				}).appendTo(that2);
			});
		}, 'xml');
	}); 
</script>