@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,body{
    background-color: white;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    }
        .btn{
            margin: 5px;
        }
        #cuadrito{
            color: black;
        }
